.contacto{
    &__containerContacto{
      
      &__caja{
        margin: 4vh 0vw 17vh 0vw; 
      }
  
      &__cajaDatos{
        @extend .contacto__containerContacto__caja;
        border-right: 1px solid black;
  
        iframe{
          width: 85%;
          padding: 0 auto 0 auto;
        }
        
        img{
          width: 1vw;
        }
        
        &__parrafoDatos{
          display:inline;
        }
      }
  
  
      &__cajaForm{
        @extend .contacto__containerContacto__caja;
        border-left: 1px solid black;
        
    
        div{
          padding: 0.3vw;
        }
    
        input, textarea{
          border: 1px solid rgb(238, 203, 168);
          border-radius: 5px;
          padding: 5px;
          background-color: rgba(240, 199, 158, 0.5);  
        }

        textarea{
          resize:none; 
        }
  
        &__nombre input{
          height: 2.2vh;
          width: 15vw;
        }
  
        &__email input{
          height: 2.2vh;
          width: 15vw;
        }
        
        &__boton button{
          font: xx-large;
          border: 2px solid rgb(238, 203, 168);
          background-color: map-get($colores, body);
          border-radius: 10px;
          width: 20vw;
          transition-duration: 0.2s;
          padding: 0.5vh 0;
        }

        &__boton button:hover{
          background-color: map-get($colores, header);
          color: white;
          width: 22vw;
          
        }
  
        &__texto{
          font-style: italic;
          width: 25vw;
          margin-left: auto;
          margin-right: auto;
        }

        &__p{
          margin:0;
        }
  
      }
  
  
  
  
    }
  }
  
  hr{
    height:0px;
  }
  
  