.contacto{
    &__containerContacto{
      
      &__caja{
        margin: 4vh 0vw 10vh 0vw; 
      }
  
      &__cajaDatos{
        @extend .contacto__containerContacto__caja;
        border-right: 1px solid black;
  
        iframe{
          width: 90%;
          padding: 0 auto 0 auto;
        }
        
        img{
          width: 0.9vw;
        }
        
        &__parrafoDatos{
          display:inline;
        }
      }
  
  
      &__cajaForm{
        @extend .contacto__containerContacto__caja;
        border-left: 1px solid black;
        
    
        div{
          padding: 0.5vw;
        }
    
        input, textarea{
          border: 1px solid rgb(238, 203, 168);
          border-radius: 5px;
          padding: 5px;
          background-color: rgba(240, 199, 158, 0.5)  
        }
  
        &__nombre input{
          height: 2.2vh;
          width: 15vw;
        }
  
        &__email input{
          height: 2.2vh;
          width: 15vw;
        }
  
        &__boton button{
          font-family: "Roboto";
          font: xx-large;
          border: 0px;
          color: white;
          background-color: grey;
          border-radius: 5px;
          height: 3vh;
          width: 20vw;
        }
  
        &__texto{
          font-style: italic;
          width: 25vw;
          margin-left: auto;
          margin-right: auto;
        }
  
      }
  
  
  
  
    }
  }
  
  hr{
    height:0px;
  }
  
  