.proyecto{
  &__imagenesProyecto{
    display:flex;
    flex-direction: column;
    gap: 3vh;
    margin: 0vh 4vw 4vh 4vw;
    align-items: center;
    
    img {
      width: 90%;
      height: 100%;
      margin: 0px;
      object-fit: cover;
    }

  }
  &__containerMobile{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px gray solid;
    border-radius: 1vh;
    box-shadow: 0.7vh 0.5vw 1vh black;
    
    &__caption{
      text-align: center;
      h4{
        font-weight: 600;
      }
    }
    img{
      margin: 0vh 0vw 1vh 0vw;
    }
    
  }
  &__h1{
    margin: 1vh 0vw 0vh 0vw;
    font-weight: 600;
    font-size: 1.5rem;
   
  }
}

  
  
  
   
  
  