.sobreNosotros {
    &__container{
      margin: 20vh 0% 30vh 0%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &__historia{
        width: 30%;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid rgba(1, 1, 1, 0.3);
        border-radius: 1vw;
        align-self: flex-end;
        box-shadow: 0.5vh 0.5vw 0.8vh black;
  
        p{
          text-align: justify;
          padding: 15px;
        }
        img{
          width: 8vw;
        }
  
        &__titulo{
          font-size: 1.5rem;
          font-weight: bold;
        }
        animation: 0.7s ease-out 0s 1 entradaPorIzquierda;
      }
  

      &__carousel{
        margin-left: 5vw;
        width: 40vw;
        border-radius: 10px;
        animation: 0.7s ease-out 0s 1 entradaPorDerecha;

        img{
          border-radius: 10px;
        }
      }
    }
    
  
  
  }



  