@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



$colores:(body: rgba(250, 232,215,1), header:rgba(240, 199, 158, 1), header-index: rgba(240, 199, 158, 0.8));

@mixin text-al{
  text-align: center;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: map-get($colores, body);
  font-family: "Poppins", "Roboto", sans-serif !important;
}

.h1_general { 
  margin: 5vh 0vw 1vh 0vw;
  font-weight: 600; 
}

main {
  @include text-al;
}


/* Header */

.claseNavbar{
    background-color: map-get($colores, header);
    border-bottom: 1px solid black;

    &__logoHeader {
        width: 6vh;
      }
    
    a {
        font-weight: 550;
        transition-duration: 0.2s !important;

    }

    a:hover{
        font-weight: bold;
        
    }

    &__h1Navbar{
        font-weight:500;

    }

  }
    
  
header .activo{
  font-weight: bolder;
}


  /* Footer */

  /*
.footer {
  background-color: map-get($colores, header);
  padding: 2vh;
  height: 10%;
  text-align: center;
  font-size: small;
  border-top: 1px solid black;

  &__logoFooter{
    width: 50px;

  }

  &__logoIGFooter{
    width: 15px;

  }

  a{
    text-decoration: none;
    color:black;
    font-weight: 500;
  }
}
*/
.footer{
  background: map-get($colores, header);
  color:black;
  border-top: 1px solid black;
  
  &__links{
    ul {
      list-style-type: none;
    }

    li a{
      color: black;
      transition: color .2s;
      
      &:hover{
        text-decoration:none;
        font-weight: 600;
      }
    }
  }
  
  
  &__empresa{
    i{font-size: 1.5rem;}
    a{
      color:black;
      transition: color .2s;
  }
  h2 img{
    margin-top: -1.5vh;
    width: 3vw;
  }
  
}
  
  
  
  &__contacto{
    i{
      font-size: 1rem;
    }

    &__iconos{
      margin-right: 1vw;
    }

  }


  
  }
  .copyright p{
    border-top:1px solid rgba(0, 0, 0, 0.1);
}



@keyframes entradaPorDerecha {
  0% {
    transform: translateX(+70vw);
    
  }
  100% {
    transform: translateX(0);

  }
}

@keyframes entradaPorIzquierda {
  0% {
    transform: translateX(-70vw);
  }
  100% {
    transform: translateX(0);
  }
}






@import 'index';
@import 'contacto';
@import 'proceso';
@import 'sobre_nosotros';
@import 'proyecto';
@import 'mediaQueries';

