#imagenesProyecto{
    display:flex;
    flex-direction: column;
    gap: 1vh;
    margin: 4vh 1vw 0vh 1vw;
  }
  
  
  
  #imagenesProyecto img {
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: cover;
  }
  
  