@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-body: rgba(250, 232,215,1);
$color-header: rgba(240, 199, 158, 1);
$color-header-index: rgba(240, 199, 158, 0.8);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-body;
  font-family: "Poppins", "Roboto", sans-serif !important;
}

.h1_general { 
  margin: 5vh 0vw 1vh 0vw;
  font-weight: 600; 
}

main {
  text-align: center;
}




/* Header */

.claseNavbar{
    background-color: $color-header;
    border-bottom: 1px solid black;

    &__logoHeader {
        width: 6vh;
      }
    
    a {
        font-weight: 550;
        transition-duration: 0.2s;

    }

    a:hover{
        font-weight: bold;
    }

    &__h1Navbar{
        font-weight:500;

    }

  }
    



  
  
  /* Footer */
.footer {
  background-color: $color-body;
  height: 10%;
  text-align: center;
  font-style: italic;
  font-size: small;
  border-top: 2px solid black;

  &__logoFooter{
    width: 50px;

  }

  &__logoIGFooter{
    width: 15px;

  }
}
  
  
  /* INDEX */
  
.index__body {
  background-image: url(../images/home/cocina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  
  footer{
    height: 150px;
    width: 100%;
  }
}


.index__contenedor{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,1fr);
  
  &__textoIndex {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 100%;
    height: 65vh;
    grid-area: 2 / 2 / 4 / 3;
    font-family: "Roboto" !important;
      
    &__h1Home{
      font-size: 40px;
      font-weight: bolder;
    }
      
  }


}
  
 
.index__nabvar{
  background-color: $color-header-index;
  border-bottom: 1px solid black; 
}
  

#horizonHome {
  padding-left: 2vw;
  align-self: flex-start;
}

#mueblesHome {
  align-self: flex-end;
}
#parrafoHome {
  font-style: italic;
  font-weight: bolder;
}


/* MAIN PROCESO */

.proceso{
  &__containerProcesos{

    &__flecha{
      margin-bottom: 4vh;
      height: 5vh;
    }

    &__proceso{
      padding: 0 3vw 5vh 5vw;
      display: flex;
      justify-content: center;
      
      &__contenido{
        display: flex;
        width: 50em;
        /*width: 50vw;*/
        margin: 0;
        padding: 5vw;
        border: 1px gray solid;
        border-radius: 1vh;
        box-shadow: 0.7vh 0.5vw 1vh black;
      
        img{
          height: 13vw;
          width: 20vw;
          opacity: 0.8;
          border-radius: 10px;
          align-self: center;
        }

        &__imgDerecha{
          margin-left: 1vw;
        }

        &__imgIzquierda{
          margin-right: 1vw;
        }

        &__texto{
          margin-left: 1vw;
          margin-right: 1vw;
          text-align: justify;

          h2{
            font-size: 2rem;
            text-align: center;
          }

          p{
            font-size: 1rem;
          }
        }

      }


    }



  }



}




/* MAIN CONTACTO */


.contacto{
  &__containerContacto{
    
    &__caja{
      margin: 4vh 0vw 8vh 0vw; 
    }

    &__cajaDatos{
      border-right: 1px solid black;

      iframe{
        width: 90%;
        padding: 0 auto 0 auto;
      }
      
      img{
        width: 0.9vw;
      }
      
      &__parrafoDatos{
        display:inline;
      }
    }


    &__cajaForm{
      border-left: 1px solid black;
      
  
      div{
        padding: 0.5vw;
      }
  
      input, textarea{
        border: 1px solid rgb(238, 203, 168);
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(240, 199, 158, 0.5)  
      }

      &__nombre input{
        height: 2.2vh;
        width: 15vw;
      }

      &__email input{
        height: 2.2vh;
        width: 15vw;
      }

      &__boton button{
        font-family: "Roboto";
        font: xx-large;
        border: 0px;
        color: white;
        background-color: grey;
        border-radius: 5px;
        height: 3vh;
        width: 20vw;
      }

      &__texto{
        font-style: italic;
        width: 25vw;
        margin-left: auto;
        margin-right: auto;
      }

    }




  }
}

hr{
  height:0px;
}





/* SOBRE NOSOTROS */
.sobreNosotros {
  &__container{
    margin: 20vh 0% 30vh 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__historia{
      width: 30%;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid rgba(1, 1, 1, 0.3);
      border-radius: 1vw;
      align-self: flex-end;
      box-shadow: 0.5vh 0.5vw 0.8vh black;

      p{
        padding: 15px;
      }
      img{
        width: 8vw;
      }

      &__titulo{
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    &__imagen{
      margin-left: 5vw;
      width: 35vw;
      border-radius: 10px;
    }
  }
  


}

/* PROYECTOS */

#imagenesProyecto{
  display:flex;
  flex-direction: column;
  gap: 1vh;
  margin: 4vh 1vw 0vh 1vw;
}



#imagenesProyecto img {
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
}



/* RESPONSIVE DESIGN FOR SMALLER DEVICES */

@media screen and (max-width: 768px) {


  /* INDEX */

  .index__contenedor{
    width: 100vw;

    &__textoIndex{
      width: 70vw;

      &__h1Home{
        font-size: 2rem;
      }
    }

    
  }

  #parrafoHome {
    font-size: 0.9rem;
  }


  .index__body {
    background-position: center;
  }


  /*PROYECTOS*/
  #imagenesProyecto{
    display:flex;
    flex-direction: column;
  }



  /* PROCESO */

  .proceso{
    &__containerProcesos{
      &__proceso{
      
        &__contenido{

          flex-direction: column;
          img{
            height: 30vw;
            width: 45vw;
          }

          p{
            font-size: 0.8rem; 
          }

          &__texto{
            margin-bottom: 10px;
          }

        } 

      }

    }
    
  }

 


  /* SOBRE NOSOTROS*/
  .sobreNosotros{
    &__container{
      flex-direction: column;
      margin: 5vh 0 10vh 0; 
      &__historia{
        align-self: center;
        width: 80vw;
      }
      &__imagen{
        margin: 0%;
        padding-top: 3vh;
        width: 80vw;
      }
    }
    
  }

  /* CONTACTO */

  .contacto{
    &__containerContacto{

      &__caja{
        margin: 0%;
        border: 0px;
        width: auto;
      }

      &__cajaDatos{
        margin-bottom: 0;

        img{
          width: 2vw;

        }
        
      }

      &__cajaForm{
        padding-top: 1vh;
        
        &__nombre input{
          height: 3.5vh;
          width: 30vw;
        }

        &__email input{
          height: 3.5vh;
          width: 30vw;
        }

        &__mensaje textarea{
          width: 50vw;
        }

        &__texto{
          width: 70vw;
        }

        &__boton button{
          width: 50vw;
        }

      }
    }
  }


  hr{
    height: 2px;
    background-color: black;
    width: 60vw;
  }
}

