@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fae8d7;
  font-family: "Poppins", "Roboto", sans-serif !important;
}

.h1_general {
  margin: 5vh 0vw 1vh 0vw;
  font-weight: 600;
}

main {
  text-align: center;
}

/* Header */
.claseNavbar {
  background-color: #f0c79e;
  border-bottom: 1px solid black;
}

.claseNavbar__logoHeader {
  width: 6vh;
}

.claseNavbar a {
  font-weight: 550;
  transition-duration: 0.2s !important;
}

.claseNavbar a:hover {
  font-weight: bold;
}

.claseNavbar__h1Navbar {
  font-weight: 500;
}

/* Footer */
.footer {
  background-color: #fae8d7;
  height: 10%;
  text-align: center;
  font-style: italic;
  font-size: small;
  border-top: 2px solid black;
}

.footer__logoFooter {
  width: 50px;
}

.footer__logoIGFooter {
  width: 15px;
}

.index__body {
  background-image: url(../images/home/cocina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.index__body footer {
  height: 150px;
  width: 100%;
}

.index__contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.index__contenedor__textoIndex {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
  height: 65vh;
  grid-area: 2 / 2 / 4 / 3;
  font-family: "Roboto" !important;
}

.index__contenedor__textoIndex__h1Home {
  font-size: 40px;
  font-weight: bolder;
}

.index__nabvar {
  border-bottom: 1px solid black;
}

#horizonHome {
  padding-left: 2vw;
  align-self: flex-start;
}

#mueblesHome {
  align-self: flex-end;
}

#parrafoHome {
  font-style: italic;
  font-weight: bolder;
}

.contacto__containerContacto__caja {
  margin: 4vh 0vw 8vh 0vw;
}

.contacto__containerContacto__cajaDatos {
  border-right: 1px solid black;
}

.contacto__containerContacto__cajaDatos iframe {
  width: 90%;
  padding: 0 auto 0 auto;
}

.contacto__containerContacto__cajaDatos img {
  width: 0.9vw;
}

.contacto__containerContacto__cajaDatos__parrafoDatos {
  display: inline;
}

.contacto__containerContacto__cajaForm {
  border-left: 1px solid black;
}

.contacto__containerContacto__cajaForm div {
  padding: 0.5vw;
}

.contacto__containerContacto__cajaForm input, .contacto__containerContacto__cajaForm textarea {
  border: 1px solid #eecba8;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(240, 199, 158, 0.5);
}

.contacto__containerContacto__cajaForm__nombre input {
  height: 2.2vh;
  width: 15vw;
}

.contacto__containerContacto__cajaForm__email input {
  height: 2.2vh;
  width: 15vw;
}

.contacto__containerContacto__cajaForm__boton button {
  font-family: "Roboto";
  font: xx-large;
  border: 0px;
  color: white;
  background-color: grey;
  border-radius: 5px;
  height: 3vh;
  width: 20vw;
}

.contacto__containerContacto__cajaForm__texto {
  font-style: italic;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 0px;
}

.proceso__containerProcesos__flecha {
  margin-bottom: 4vh;
  height: 5vh;
}

.proceso__containerProcesos__proceso {
  padding: 0 3vw 5vh 5vw;
  display: flex;
  justify-content: center;
}

.proceso__containerProcesos__proceso__contenido {
  display: flex;
  width: 50em;
  /*width: 50vw;*/
  margin: 0;
  padding: 5vw;
  border: 1px gray solid;
  border-radius: 1vh;
  box-shadow: 0.7vh 0.5vw 1vh black;
}

.proceso__containerProcesos__proceso__contenido img {
  height: 13vw;
  width: 20vw;
  opacity: 0.8;
  border-radius: 10px;
  align-self: center;
}

.proceso__containerProcesos__proceso__contenido__imgDerecha {
  margin-left: 1vw;
}

.proceso__containerProcesos__proceso__contenido__imgIzquierda {
  margin-right: 1vw;
}

.proceso__containerProcesos__proceso__contenido__texto {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
}

.proceso__containerProcesos__proceso__contenido__texto h2 {
  font-size: 2rem;
  text-align: center;
}

.proceso__containerProcesos__proceso__contenido__texto p {
  font-size: 1rem;
}

.sobreNosotros__container {
  margin: 20vh 0% 30vh 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreNosotros__container__historia {
  width: 30%;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 1vw;
  align-self: flex-end;
  box-shadow: 0.5vh 0.5vw 0.8vh black;
}

.sobreNosotros__container__historia p {
  padding: 15px;
}

.sobreNosotros__container__historia img {
  width: 8vw;
}

.sobreNosotros__container__historia__titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sobreNosotros__container__imagen {
  margin-left: 5vw;
  width: 35vw;
  border-radius: 10px;
}

#imagenesProyecto {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 4vh 1vw 0vh 1vw;
}

#imagenesProyecto img {
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  /* INDEX */
  .index__contenedor {
    width: 100vw;
  }
  .index__contenedor__textoIndex {
    width: 70vw;
  }
  .index__contenedor__textoIndex__h1Home {
    font-size: 2rem;
  }
  #parrafoHome {
    font-size: 0.9rem;
  }
  .index__body {
    background-position: center;
  }
  /*PROYECTOS*/
  #imagenesProyecto {
    display: flex;
    flex-direction: column;
  }
  /* PROCESO */
  .proceso__containerProcesos__proceso__contenido {
    flex-direction: column;
  }
  .proceso__containerProcesos__proceso__contenido img {
    height: 30vw;
    width: 45vw;
  }
  .proceso__containerProcesos__proceso__contenido p {
    font-size: 0.8rem;
  }
  .proceso__containerProcesos__proceso__contenido__texto {
    margin-bottom: 10px;
  }
  /* SOBRE NOSOTROS*/
  .sobreNosotros__container {
    flex-direction: column;
    margin: 5vh 0 10vh 0;
  }
  .sobreNosotros__container__historia {
    align-self: center;
    width: 80vw;
  }
  .sobreNosotros__container__imagen {
    margin: 0%;
    padding-top: 3vh;
    width: 80vw;
  }
  /* CONTACTO */
  .contacto__containerContacto__caja {
    margin: 0%;
    border: 0px;
    width: auto;
  }
  .contacto__containerContacto__cajaDatos {
    margin-bottom: 0;
  }
  .contacto__containerContacto__cajaDatos img {
    width: 2vw;
  }
  .contacto__containerContacto__cajaForm {
    padding-top: 1vh;
  }
  .contacto__containerContacto__cajaForm__nombre input {
    height: 3.5vh;
    width: 30vw;
  }
  .contacto__containerContacto__cajaForm__email input {
    height: 3.5vh;
    width: 30vw;
  }
  .contacto__containerContacto__cajaForm__mensaje textarea {
    width: 50vw;
  }
  .contacto__containerContacto__cajaForm__texto {
    width: 70vw;
  }
  .contacto__containerContacto__cajaForm__boton button {
    width: 50vw;
  }
  hr {
    height: 2px;
    background-color: black;
    width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */