@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fae8d7;
  font-family: "Poppins", "Roboto", sans-serif !important;
}

.h1_general {
  margin: 5vh 0vw 1vh 0vw;
  font-weight: 600;
}

main {
  text-align: center;
}

/* Header */
.claseNavbar {
  background-color: #f0c79e;
  border-bottom: 1px solid black;
}

.claseNavbar__logoHeader {
  width: 6vh;
}

.claseNavbar a {
  font-weight: 550;
  transition-duration: 0.2s !important;
}

.claseNavbar a:hover {
  font-weight: bold;
}

.claseNavbar__h1Navbar {
  font-weight: 500;
}

header .activo {
  font-weight: bolder;
}

/* Footer */
/*
.footer {
  background-color: map-get($colores, header);
  padding: 2vh;
  height: 10%;
  text-align: center;
  font-size: small;
  border-top: 1px solid black;

  &__logoFooter{
    width: 50px;

  }

  &__logoIGFooter{
    width: 15px;

  }

  a{
    text-decoration: none;
    color:black;
    font-weight: 500;
  }
}
*/
.footer {
  background: #f0c79e;
  color: black;
  border-top: 1px solid black;
}

.footer__links ul {
  list-style-type: none;
}

.footer__links li a {
  color: black;
  transition: color .2s;
}

.footer__links li a:hover {
  text-decoration: none;
  font-weight: 600;
}

.footer__empresa i {
  font-size: 1.5rem;
}

.footer__empresa a {
  color: black;
  transition: color .2s;
}

.footer__empresa h2 img {
  margin-top: -1.5vh;
  width: 3vw;
}

.footer__contacto i {
  font-size: 1rem;
}

.footer__contacto__iconos {
  margin-right: 1vw;
}

.copyright p {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@keyframes entradaPorDerecha {
  0% {
    transform: translateX(70vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes entradaPorIzquierda {
  0% {
    transform: translateX(-70vw);
  }
  100% {
    transform: translateX(0);
  }
}

.index__body {
  background-image: url(../images/home/cocina.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  /*background-attachment: fixed;*/
  display: flex;
  flex-direction: column;
}

.index__body footer {
  height: 150px;
  width: 100%;
}

.index__contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.index__contenedor__textoIndex {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 100%;
  height: 65vh;
  grid-area: 2 / 2 / 4 / 3;
  font-family: "Roboto" !important;
}

.index__contenedor__textoIndex__h1Home {
  font-size: 40px;
  font-weight: bolder;
}

.index__nabvar {
  border-bottom: 1px solid black;
}

#horizonHome {
  padding-left: 2vw;
  align-self: flex-start;
}

#mueblesHome {
  align-self: flex-end;
}

#parrafoHome {
  font-style: italic;
  font-weight: bolder;
}

.contacto__containerContacto__caja, .contacto__containerContacto__cajaDatos, .contacto__containerContacto__cajaForm {
  margin: 4vh 0vw 17vh 0vw;
}

.contacto__containerContacto__cajaDatos {
  border-right: 1px solid black;
}

.contacto__containerContacto__cajaDatos iframe {
  width: 85%;
  padding: 0 auto 0 auto;
}

.contacto__containerContacto__cajaDatos img {
  width: 1vw;
}

.contacto__containerContacto__cajaDatos__parrafoDatos {
  display: inline;
}

.contacto__containerContacto__cajaForm {
  border-left: 1px solid black;
}

.contacto__containerContacto__cajaForm div {
  padding: 0.3vw;
}

.contacto__containerContacto__cajaForm input, .contacto__containerContacto__cajaForm textarea {
  border: 1px solid #eecba8;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(240, 199, 158, 0.5);
}

.contacto__containerContacto__cajaForm textarea {
  resize: none;
}

.contacto__containerContacto__cajaForm__nombre input {
  height: 2.2vh;
  width: 15vw;
}

.contacto__containerContacto__cajaForm__email input {
  height: 2.2vh;
  width: 15vw;
}

.contacto__containerContacto__cajaForm__boton button {
  font: xx-large;
  border: 2px solid #eecba8;
  background-color: #fae8d7;
  border-radius: 10px;
  width: 20vw;
  transition-duration: 0.2s;
  padding: 0.5vh 0;
}

.contacto__containerContacto__cajaForm__boton button:hover {
  background-color: #f0c79e;
  color: white;
  width: 22vw;
}

.contacto__containerContacto__cajaForm__texto {
  font-style: italic;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
}

.contacto__containerContacto__cajaForm__p {
  margin: 0;
}

hr {
  height: 0px;
}

.proceso__containerProcesos__flecha {
  margin-bottom: 4vh;
  height: 5vh;
}

.proceso__containerProcesos__proceso {
  padding: 0 3vw 5vh 5vw;
  display: flex;
  justify-content: center;
}

.proceso__containerProcesos__proceso__contenido {
  display: flex;
  width: 50em;
  /*width: 50vw;*/
  margin: 0;
  padding: 5vw 4vw;
  border: 1px gray solid;
  border-radius: 1vh;
  box-shadow: 0.7vh 0.5vw 1vh black;
}

.proceso__containerProcesos__proceso__contenido img {
  height: 13vw;
  width: 20vw;
  opacity: 0.8;
  border-radius: 10px;
  align-self: center;
}

.proceso__containerProcesos__proceso__contenido__imgDerecha {
  margin-left: 1vw;
}

.proceso__containerProcesos__proceso__contenido__imgIzquierda {
  margin-right: 1vw;
}

.proceso__containerProcesos__proceso__contenido__texto {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
}

.proceso__containerProcesos__proceso__contenido__texto h2 {
  font-size: 2rem;
  text-align: center;
}

.proceso__containerProcesos__proceso__contenido__texto p {
  font-size: 1rem;
}

.sobreNosotros__container {
  margin: 20vh 0% 30vh 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreNosotros__container__historia {
  width: 30%;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(1, 1, 1, 0.3);
  border-radius: 1vw;
  align-self: flex-end;
  box-shadow: 0.5vh 0.5vw 0.8vh black;
  animation: 0.7s ease-out 0s 1 entradaPorIzquierda;
}

.sobreNosotros__container__historia p {
  text-align: justify;
  padding: 15px;
}

.sobreNosotros__container__historia img {
  width: 8vw;
}

.sobreNosotros__container__historia__titulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.sobreNosotros__container__carousel {
  margin-left: 5vw;
  width: 40vw;
  border-radius: 10px;
  animation: 0.7s ease-out 0s 1 entradaPorDerecha;
}

.sobreNosotros__container__carousel img {
  border-radius: 10px;
}

.proyecto__imagenesProyecto {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin: 0vh 4vw 4vh 4vw;
  align-items: center;
}

.proyecto__imagenesProyecto img {
  width: 90%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
}

.proyecto__containerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px gray solid;
  border-radius: 1vh;
  box-shadow: 0.7vh 0.5vw 1vh black;
}

.proyecto__containerMobile__caption {
  text-align: center;
}

.proyecto__containerMobile__caption h4 {
  font-weight: 600;
}

.proyecto__containerMobile img {
  margin: 0vh 0vw 1vh 0vw;
}

.proyecto__h1 {
  margin: 1vh 0vw 0vh 0vw;
  font-weight: 600;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer__contacto {
    margin-top: 3vh;
  }
  .footer__empresa h2 img {
    margin-top: -1vh;
    width: 6vw;
  }
  /* INDEX */
  .index__contenedor {
    width: 100vw;
  }
  .index__contenedor__textoIndex {
    width: 70vw;
  }
  .index__contenedor__textoIndex__h1Home {
    font-size: 2rem;
  }
  .index__body {
    background-position: -40vw -10vh;
  }
  #parrafoHome {
    font-size: 0.9rem;
  }
  /*PROYECTOS*/
  .proyecto__imagenesProyecto {
    display: flex;
    flex-direction: column;
  }
  .proyecto__containerMobile__caption {
    font-size: 0.7rem;
  }
  .proyecto__containerMobile__caption h4 {
    font-size: 0.8rem;
  }
  body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='800'] {
    transition-duration: 500ms;
  }
  /* PROCESO */
  .proceso__containerProcesos__proceso__contenido {
    flex-direction: column;
  }
  .proceso__containerProcesos__proceso__contenido img {
    height: 30vw;
    width: 45vw;
  }
  .proceso__containerProcesos__proceso__contenido p {
    font-size: 0.8rem;
  }
  .proceso__containerProcesos__proceso__contenido__texto {
    margin-bottom: 10px;
  }
  /* SOBRE NOSOTROS*/
  .sobreNosotros__container {
    flex-direction: column;
    margin: 5vh 0 10vh 0;
  }
  .sobreNosotros__container__historia {
    align-self: center;
    width: 80vw;
  }
  .sobreNosotros__container__carousel {
    margin: 0%;
    padding-top: 3vh;
    width: 80vw;
  }
  /* CONTACTO */
  .contacto__containerContacto__caja, .contacto__containerContacto__cajaDatos, .contacto__containerContacto__cajaForm {
    margin: 0 0 5vh 0;
    border: 0px;
    width: auto;
  }
  .contacto__containerContacto__cajaDatos {
    margin-bottom: 0;
  }
  .contacto__containerContacto__cajaDatos iframe {
    width: 80vw;
  }
  .contacto__containerContacto__cajaDatos img {
    width: 2vw;
  }
  .contacto__containerContacto__cajaForm {
    padding-top: 1vh;
  }
  .contacto__containerContacto__cajaForm__nombre input {
    height: 3.5vh;
    width: 50vw;
  }
  .contacto__containerContacto__cajaForm__email input {
    height: 3.5vh;
    width: 50vw;
  }
  .contacto__containerContacto__cajaForm__mensaje textarea {
    width: 70vw;
  }
  .contacto__containerContacto__cajaForm__texto {
    width: 70vw;
  }
  .contacto__containerContacto__cajaForm__boton button {
    width: 50vw;
  }
  .contacto__containerContacto__cajaForm__boton button:hover {
    width: 52vw;
  }
  hr {
    height: 2px;
    background-color: black;
    width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */